In [1]:
import random
from DB import DB
import pandas as pd
from string import ascii_letters
from random import randint

### Initialize a connection to database
In order to insert data to the database, a connection should be initialized between them.

In [2]:
database = DB().connection

### Load mock data
Mock data that is used here, could be found via [this link](https://www.kaggle.com/datasets/keshavramaiah/hotel-recommendation).
Data should be downloaded and stored in the "mock_data" folder.

In [3]:
hotels_df = pd.read_csv('mock_data/Hotel_details.csv')
rooms_df = pd.read_csv('mock_data/hotels_RoomPrice.csv')

### Prepare data which is related to the "cities" table

In [4]:
cities = hotels_df['city']
cities = cities.drop_duplicates()
cities = cities.reset_index()
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25693 entries, 0 to 25692
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   25693 non-null  int64
 1   city    25693 non-null  object
dtypes: int64(1), object(1)
memory usage: 401.6+ KB

### Initialize a connection with the database

In [5]:
await database.connect()

### Insert Cities to the database
This block inserts the cities into a table that is called "cities" in the database

In [6]:
query = "INSERT INTO cities(id, name, image) VALUES"
image_link = 'https://unsplash.com/photos/Nyvq2juw4_o/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Mnx8Y2l0eXxlbnwwfHx8fDE2NjUwMDAzNjM&force=true&w=640'
for index, city in cities.iterrows():
    query += "({}, '{}', '{}'),".format(str(index), city['city'].replace("'", "''"), image_link)
query = query[:-1]
await database.execute(query=query)

### Prepare data which is relate to the "hotels" table

In [7]:
hotels = hotels_df[['hotelid', 'hotelname', 'starrating', 'address', 'city']]
hotels = hotels.dropna()
hotels = hotels.drop_duplicates(subset=["hotelid"], keep='last')
hotels = hotels.reset_index()
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101103 entries, 0 to 101102
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       101103 non-null  int64
 1   hotelid     101103 non-null  int64
 2   hotelname   101103 non-null  object
 3   starrating  101103 non-null  int64
 4   address     101103 non-null  object
 5   city        101103 non-null  object
dtypes: int64(3), object(3)
memory usage: 4.6+ MB

### Insert Hotels to the database
This block inserts the hotels into a table that is called "hotels" in the database

In [8]:
load_in_each_query = 10000
image_link = 'https://unsplash.com/photos/n_IKQDCyrG0/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8aG90ZWx8ZW58MHx8fHwxNjg5NTQ1MDYzfDA&force=true'
for x in range(0, hotels['index'].count(), load_in_each_query):
    query = "INSERT INTO hotels(id, name, address, image, credit, star, city_id) VALUES "
    for index, hotel in hotels.iterrows():
        if x<=index<x+load_in_each_query:
            query += "({}, '{}', '{}', '{}', {}, {}, {}),".format(str(hotel['hotelid']), hotel['hotelname'].replace("'", "''"), hotel['address'].replace("'", "''"), image_link, randint(0, 10000), str(hotel["starrating"]), str(cities.loc[cities['city']==hotel['city']].index[0]))
    query = query[:-1]
    await database.execute(query=query)

### Prepare data which is relate to the "rooms" table

In [9]:
rooms = rooms_df[['id', 'onsiterate', 'maxoccupancy', 'hotelcode']]
rooms = rooms.dropna()
rooms = rooms.reset_index()
rooms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165873 entries, 0 to 165872
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         165873 non-null  int64
 1   id            165873 non-null  int64
 2   onsiterate    165873 non-null  float64
 3   maxoccupancy  165873 non-null  int64
 4   hotelcode     165873 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 6.3 MB

### Insert Rooms to the database
This block inserts the rooms into a table that is called "rooms" in the database

In [10]:
load_in_each_query = 10000
for x in range(0, rooms['index'].count(), load_in_each_query):
    query = "INSERT INTO rooms(id, number, price, max_capacity, floor, hotel_id) VALUES "
    for index, room in rooms.iterrows():
        if x<=index<x+load_in_each_query:
            query += "({}, '{}', {}, {}, {}, {}),".format(str(index), str(int(room['id'])), str(int(room['onsiterate'])), str(room["maxoccupancy"]), 1, 8992131)
    query = query[:-1]
    await database.execute(query=query)

### Generate fake users

In [13]:
query = "INSERT INTO users(id, name, email, email_verified_at, password, remember_token) VALUES "
for index in range(1, 300001):
    name='user '+str(index)
    email=''
    for _ in range(10):
        email+=random.choice(ascii_letters)
    query += "({}, '{}', '{}', '{}', '{}', '{}'),".format(str(index), name, email+'@example.com', '2022-12-15 22:00:00', 'password', 'xzasfsfsfg')
    if index % 1000 == 0:
        query = query[:-1]
        await database.execute(query=query)
        query = "INSERT INTO users(id, name, email, email_verified_at, password, remember_token) VALUES "

### Generate fake trips

In [16]:
query = "INSERT INTO trips(\"start\", \"end\", amount, room_id, creator_id) VALUES "
for index in range(1, 500001):
    creator_id=random.randint(1, 300000)
    query += "('{}', '{}', {}, {}, {}),".format('2022-12-15 22:00:00', '2022-12-16 22:00:00', 1000, 20, creator_id)
    if index % 1000 == 0:
        query = query[:-1]
        await database.execute(query=query)
        query = "INSERT INTO trips(\"start\", \"end\", amount, room_id, creator_id) VALUES "

### Generate fake passengers

In [27]:
passenger_id = 1
dispatcher = 0
query = "INSERT INTO passengers(id, first_name, last_name, national_code, trip_id) VALUES "
for trip_id in range(2, 500001):
    for _ in range(1, random.choice([5, 10, 15])):
        query += "({}, '{}', '{}', '{}', {}),".format(passenger_id, 'passenger f'+str(passenger_id), 'passenger l'+str(passenger_id), '4274271212', trip_id)
        passenger_id += 1
        dispatcher +=1
        if dispatcher % 10000 == 0:
            query = query[:-1]
            dispatcher = 0
            await database.execute(query=query)
            query = "INSERT INTO passengers(id, first_name, last_name, national_code, trip_id) VALUES "
query = query[:-1]
await database.execute(query=query)

### Close the connection with the database

In [28]:
await database.disconnect()